.mdc-tab-bar {
  margin-bottom: 20px;
}

.mdc-data-table {
  display: block;
  margin-bottom: 50px;
  tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
  }
  .attribute-edit, .attribute-delete, .attribute-edit-submit {
    cursor: pointer;
  }

  .attribute-edit-input, .attribute-edit-code {
    height: 20px;
  }

  .attribute-edit-submit {
    vertical-align: middle;
  }
}

.attribute-table {
  display: none;
}

.form-add-attribute {
  margin-bottom: 25px;
  button {
    height: 56px;
    margin-left: 10px;
    vertical-align: top;
  }
}